* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
:root{
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --back-botao: rgba(255, 255, 255, 0.1);
    --border-botao: rgba(255, 255, 255, 0.5);
    --border-botao-hover: rgba(255, 255, 255, 0.6);
    --back-botao-hover: rgba(255, 255, 255, 0.05);
    --back-icon-hover: rgb(255, 255, 255,0.2);
    --switch-mode-icon: url(./assets/moon-stars.svg);
}

.light{
    --text-color: black;
    --bg-url: background-color: #ffc2e2;
    background-image: linear-gradient(46deg, #ffc2e2 0%, #fbbf27 100%);
    ;
    --back-botao: rgba(0, 0, 0, 0.1);
    --border-botao: rgba(0, 0, 0, 0.212);
    --border-botao-hover: rgba(0, 0, 0, 0.25);
    --back-botao-hover: rgba(0, 0, 0, 0.25);
    --back-icon-hover: rgb(0, 0, 0, 0.1);
    --switch-mode-icon: url(./assets/sun.svg);
}

body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}
body {
    background: var(--bg-url) no-repeat center top/cover
}
/* Particles */
body{ 
    margin: 0;
  }
  canvas{ 
    display: block;
  }
  #particles-container{ 
    position: absolute; 
    width: 100%; 
    height: 100%; 
  }
  

#container {    
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#profile img{ 
    border: solid 1px var(--text-color);
    border-radius: 100%;
    width: 200px;
    display: block;
    margin: 20px auto 0px;
    padding: 1.5px;
    position: relative;
    z-index: 2;
}
#profile p{ 
    text-align: center;
    font-size: 25px;
    padding: 5px 0px;
}

#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    background: var(--switch-mode-icon) no-repeat center white;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    z-index: 2;
    
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;

    animation: slide-back 0.4s;
}

.light #switch button{
    animation: slide-in 0.4s forwards;
    
}

#switch button:hover {
    outline: 8px solid var(--back-icon-hover);
}

#switch span{
    display: flex;
    width: 64px;
    height: 24px;
    background: var(--back-botao);
    border: 1px solid var(--border-botao);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul { 
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 13px 0px 0px;
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 16px 24px;
    background: var(--back-botao);
    border: 1px solid var(--border-botao);
    border-radius: 20px;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    text-decoration: none;
    font-weight: 500;

    transition: border 0.2s, transform 0.5s;
}

ul li a:hover{
    background: var(--back-botao-hover);
    border: 1.5px solid var(--border-botao-hover);
    
    transform: scale(1.06) 
}

#icons{
    /*border: 1px red solid;*/
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}
#icons a {
    align-items: center;
    justify-content: center;
    margin: 11px;
    padding: 5px;
    transition: 0.2s;
    border-radius: 50%;

    transition: transform 0.3s;
}
#icons a:hover {
    background-color: var(--back-icon-hover);
    transform: scale(1.3);
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}
@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}

